
body {
  font-family: Arial;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

button {
  padding: 10px;
  margin: 5px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 5px;
  width: 250px;
}
